body{
    background-color: #387373;
    color: white;
}
header{
    text-align: center;
}
main{
    background-color:#E4F2E7 ;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.751);
    position: relative;
}
h3{
    text-align: center;
    padding: 10px;
    color: #2D3E40;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    right: 25%;
    bottom: 28%;
}
footer h3{
    color: white;
    text-align: center;
    font-style: italic;
}